<div class="row">
  <div class="span10">
    <h1>About Us</h1>
    <p class="page-desc">
      <%= t('.body') %>
    </p>
   </div>
</div>
<div class="row">
  <div class="span3 span3-5 about">
    <span class="section-title"><%= t('.connect_investors.heading') %></span>
    <span class="section-image"><img src="/assets/about/img-1.png" width="225"></span>
    <p class="section-desc active">
      <%= t('.connect_investors.text') %>
    </p>
  </div>
  <div class="span3 span3-5 about">
    <span class="section-title"><%= t('.empower_entrepreneurs.heading') %></span>
    <span class="section-image"><img src="/assets/about/img-2.png" width="225"></span>
    <p class="section-desc">
      <%= t('.empower_entrepreneurs.text') %>
    </p>
 </div>
  <div class="span3 span3-5 about">
    <span class="section-title"><%= t('.invest_safely.heading') %></span>
    <span class="section-image"><img src="/assets/about/img-3.png" width="225"></span>
    <p class="section-desc">
      <%= t('.invest_safely.text') %>  
    </p>
  </div>
</div>

<div class="row">
  <div class="span10">
    <p class="mission"><%= t('.mission') %></p>
   </div>
</div>


