<%# home#index %>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="menu">
  <h2 class="menu-header"><%= t('.sign_up.heading') %></h2>
  <%= form_for @user, as: :user, url: session_path(:user) do |f| %>
    <%= text(:email, class: 'input email', placeholder: 'email_').html_safe %>
    <button class="join-btn" type="submit"><%= t('.sign_up.button') %></button>
    <a class="facebook-btn" href="/auth/facebook"><img src="/assets/facebook-btn.png" width="145"></a>
  <% end %>
  <div class="select apply">
    <select>
      <option>Apply for a Loan</option>
    </select>
  </div>
  <div class="select investor">
    <select>
      <option>Investor Information</option>
    </select>
  </div>
</div>

<div class="intro">
  <p><%= t('.lead_in.video_intro', default: "The Electric or Hybrid that you have been waiting for will now become more affordable.<br/>Thanks to a group of pioneering Investors.") %></p>
</div>

<div class="video"></div>

<div class="social">
  <div class="twitter">
    <a href="http://www.twitter.com/<%= RConfig[:social].twitter %>" target="_blank">
      <img src="/assets/home/twitter.png" width="30">
    </a>
  </div>
  <div class="facebook">
    <a href="http://www.facebook.com/<%= RConfig[:social].facebook %>" target="_blank">
      <img src="/assets/home/facebook.png" width="30">
    </a>
  </div>
  <div class="fb-like" data-href="http://www.fuelmegreen.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
</div>

<div class="play-button">
  <a href="#" alt="arrow" title="Play Video"></a>
</div>

