<%# Home#index %>
<h1>FuelMeGreen.com</h1>
<p>
<%= link_to 'About Us', about_path %>  |
<%= link_to 'Contact Us', contact_path %>  |
<%= link_to 'How It Works', how_it_works_path %>  |
<%= link_to 'Potential Investors', potential_investors_path %>  |
<%= link_to 'Privacy', privacy_path %>  |  
<%= link_to 'Terms', terms_path %>
</p>
