<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= meta_tags                %>
  <%= favicon                  %>
  <%= stylesheets :application %>
  <%= javascripts :application %>
  <%= google_analytics         %>
  <%= yield(:head)             %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body class="<%= body_class %>">
  <%= render partial: 'layouts/navbar', locals: {logged_in: false} %>
  <div class="container main">
    <%= render 'layouts/breadcrumbs' %>
    <%= yield %>
    <hr>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>

